COMPOSE_PATH_SEPARATOR=;
COMPOSE_FILE=docker-compose.yml;docker-compose.зкщв.yml
APP_MODE=dev
APP_HOST=0.0.0.0
APP_PORT=5103
APP_WORKERS_NUM=2
APP_ROOT_PATH=
APP_GLOSSARY_ATTACHMENTS_PAGE_ID=212305483
APP_GLOSSARY_AUTH_TOKEN=
APP_ACCESS_KEY=
APP_GLOSSARY_AFTER_UPDATE_BLOCK_MINUTES=1
APP_GLOSSARY_ABBREVIATION_DELIMETER=,
APP_GLOSSARY_TERM_DELIMETER=;
APP_GLOSSARY_REQUEST_GARBAGE_SYMBOLS=",;\n\t "
APP_REQUEST_EDU_TIMEOUT=1
ARQ_LOGS_HOST_PATH=./logs/arq
ARQ_LOGS_CONTR_PATH=/usr/src/logs/arq
APP_PREFIX=
APP_GLOSSARY_UPDATE_TIMEOUT=15
APP_WAIT_FOR_DATABASE_TIMEOUT=20
APP_DATABASE_RECONNECT_TIMEOUT=2
APP_LOGS_HOST_PATH=./logs/app
APP_LOGS_CONTR_PATH=/usr/src/logs/app

POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_HOST=postgresdb
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433
POSTGRES_DB=glossary_new

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=5003

SCHEDULER_UPDATE_GLOSSARY_TIME=15:08
SCHEDULER_LOGS_HOST_PATH=./logs/scheduler
SCHEDULER_LOGS_CONTR_PATH=/usr/src/logs/scheduler

GUNICORN_LOGS_HOST_PATH=./logs
GUNICORN_LOGS_CONTR_PATH=/usr/src/logs/gunicorn

REDIS_HOSTNAME=redis
REDIS_PORT=6379
REDIS_CONNECT_TIMEOUT=15
REDIS_TIMEOUT=120
REDIS_DATABASE=4
REDIS_TEST_DATABASE=5

REDISINSIGHT_PORT=5540
